{% comment %}

-- This SECTION is being called by the page.example.json template. The settings inside the Schema tag are found in the Customizer

{% endcomment %}

<style>
    .about {
        background: url("{{ section.settings.about_background_image | img_url: '720x720', scale: 2 }}");
        background-size: cover;
        background-position: center center;
    }
    .about .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 100vh;
    }
    .about .content {
        padding: 10px;
    }
    .about h1 {
        font-size: 3rem;
    }
    .about p {
        max-width: 500px;
    }

    /* ======================= MEDIA QUERIES */
  
    /* Large devices */
    @media (max-width: 1199.98px) { }
    
    /* Medium devices */
    @media (max-width: 991.98px) { }

    /* Landscape devices */
    @media (max-width: 767.98px) {
        .about {
            background: var(--green);
        }
        .about .row {
            display: flex;
            flex-wrap: wrap-reverse;
        }
        .about .spacer {
            background: url("{{ section.settings.about_background_image | img_url: '720x720', scale: 2 }}");
            background-size: cover;
            background-position: center center;
            width: 100vw;
            height: 80vh;
            display: block;
        }
        .about .content {
            display: block;
            padding: 80px 20px 20px 20px;
            border-top: 1px solid var(--black);
            border-bottom: 1px solid var(--black);
        }
    }

    /* iPhones */
    @media (max-width: 575.98px) { }

</style>



<section class="about">

    <div class="row">
        <div class="spacer">
            &nbsp;
        </div>
        <div class="content">
            <h1 class="fade_up">{{ page.title }}</h1>
            <p class="fade_in_delay">{{ page.content }}</p>
        </div>
    </div>

</section>

{% schema %}
  {
    "name": "About us",
    "settings": [
      {
        "type": "image_picker",
        "id": "about_background_image",
        "label": "Background Image"
      }
    ]
  }
{% endschema %}

