{% comment %}

-- This SECTION is being called by the page.example.json template. The settings inside the Schema tag are found in the Customizer

{% endcomment %}

{% stylesheet %}

{% endstylesheet %}

<section class="about">

    <div class="row">
        <h2> {{ section.settings.story_title }} </h2>
        <div>{{ section.settings.story_body }}</div>
    </div>

</section>

{% schema %}
  {
    "name": "Your story",
    "settings": [
      {
        "id": "story_title",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "story_body",
        "type": "richtext",
        "label": "Add your story",
        "default": "<p>Add your text here</p>"
      }
    ]
  }
{% endschema %}