<style>
     /* Hero */
  section.hero {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  section.hero .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
  }
  section.hero .right {
      display: flex;
      align-items: center;
      background: var(--green);
      padding: 20px 80px;
  }
  section.hero h1,
  section.subhero h1 {
    font-size: 4rem;
  }
  /* Sub-Hero */
  section.subhero {
    margin-top: 100vh;
    background: var(--white);
  }
  section.subhero .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
  section.subhero .left {
      display: flex;
      align-items: center;
      background: var(--orange);
      padding: 20px 80px;
  }
</style>


<section class="hero slide one">
    <div class="row">
        {% comment %} Left {% endcomment %}
        <div class="left">
            image
        </div>
  
        {% comment %} Right {% endcomment %}
        <div class="right">
            <h1>Clothing,<br /> based on <em>joy</em></h1>
        </div>
    </div>
  </section>
  
  <section class="subhero slide two">
    <div class="row">
      {% comment %} Left {% endcomment %}
      <div class="left">
        <h1>Clothing,<br /> based on <em>joy</em></h1>
      </div>
  
      {% comment %} Right {% endcomment %}
      <div class="right">
          image
      </div>
    </div> 
  </section>