{% comment %}

-- This SECTION is being called by the page.example.json template. The settings inside the Schema tag are found in the Customizer

{% endcomment %}

<style>
  .grid-item { width: 200px; }
  .grid-item--width2 { width: 400px; }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
</style>

<section class="gallery">

    <div class="row">
 
      <div class="grid">
        <div class="grid-sizer"></div>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'galleryimage' %}
              <div class="grid-item">
                <img src="{{ block.settings.gallery_image | image_url: width: 2048 }}" />
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      
    </div>

</section>

{% schema %}
  {
    "name": "Gallery",
    "blocks": [
     {
       "name": "Gallery Image",
       "type": "galleryimage",
       "settings": [
          {
            "type": "image_picker",
            "id": "gallery_image",
            "label": "Gallery Image"
          }
        ]
      }
    ]
  }
{% endschema %}