{% comment %}

-- This SECTION is being called by the page.example.json template. The settings inside the Schema tag are found in the Customizer

{% endcomment %}

{% stylesheet %}

{% endstylesheet %}

<section class="about">

    <div class="row">
        <h2> {{ section.settings.story_title }} </h2>
        <div></div>
    </div>

</section>

{% schema %}
  {
    "name": "Gallery",
    "settings": [
      {
        "type": "html",
        "id": "gallery_urls",
        "label": "Gallery URLs"
      }      
    ]
  }
{% endschema %}