{% comment %}

-- This SECTION is being called by the page.example.json template. The settings inside the Schema tag are found in the Customizer

{% endcomment %}

{% stylesheet %}

{% endstylesheet %}

<section class="gallery">

    <div class="row">
 

        {% for block in section.blocks %}
          {% if block.type == 'advert' %}
            <!-- output an image with a link -->
          {% elsif block.type == 'headline' %}
            <!-- output a header with text -->
          {% endif %}
        {% endfor %}
      
    </div>

</section>

{% schema %}
  {
    "name": "Gallery",
    "blocks": [
     {
       "name": "Gallery Image",
       "type": "galleryimage",
       "settings": [
          {
            "type": "image_picker",
            "id": "gallery_image",
            "label": "Gallery Image"
          }
        ]
      }
    ]
  }
{% endschema %}