{% comment %}

-- This SECTION is being called by the page.example.json template. The settings inside the Schema tag are found in the Customizer

{% endcomment %}

<style>
  body#gallery {
    background: var(--green) !important;
  }

  .masonry { /* Masonry container */
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  /* -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em; */
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.m-item {
    display: inline-block;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.m-item img{max-width:100%;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (max-width: 768px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}


</style>

<section class="gallery">
    <div class="row">
 
      <div class="masonry">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'galleryimage' %}
              <div class="m-item">
                <img src="{{ block.settings.gallery_image | image_url: width: 2048 }}" />
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      
    </div>

</section>

{% schema %}
  {
    "name": "Gallery",
    "blocks": [
     {
       "name": "Gallery Image",
       "type": "galleryimage",
       "settings": [
          {
            "type": "image_picker",
            "id": "gallery_image",
            "label": "Gallery Image"
          }
        ]
      }
    ]
  }
{% endschema %}