{% comment %}

-- This SECTION is being called by the page.example.json template. The settings inside the Schema tag are found in the Customizer

{% endcomment %}

{% stylesheet %}

{% endstylesheet %}

{% assign gallery_array = section.settings.gallery_urls %}

<section class="gallery">

    <div class="row">
        
    </div>

</section>

{% schema %}
  {
    "name": "Gallery",
    "settings": [
      {
        "type": "html",
        "id": "gallery_urls",
        "label": "Gallery URLs",
      }      
    ]
  }
{% endschema %}