<style>
    .single-page {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: var(--green);
    }
    .single-page .row {
        width: 100%;
        padding: 100px 10px 40px 10px;
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }
</style>


{% if page.handle == 'shipping' or 'returns' %}

<style>
    .single-page .row.shipping {
        text-align: center;
    }
</style>

{% endif %}

<div class="single-page">   

        <div class="row shipping">
            <h1>{{ page.title }}</h1>
            <div class="main-page-content">
                {{ page.content }}
            </div>
        </div>

</div>

